{% extends "product/base.html" %}
{% load static %}
{% block content %}
<div class="product">
	 <div class="container">
		 <div class="ctnt-bar cntnt">
			 <div class="content-bar">
				 <div class="single-page">
					 <div class="product-head">
						<a href="{% url 'home' %}">Home</a> <span>::</span>	
						</div>
					 <!--Include the Etalage files-->
						<link rel="stylesheet" href="{% static 'product/css/etalage.css' %}">
						<script src="{% static 'product/js/jquery.etalage.min.js' %}"></script>
				<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 400,
					thumb_image_height: 400,
					source_image_width: 800,
					source_image_height: 1000,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
		</script>
						<!--//details-product-slider-->
					 <div class="details-left-slider">
						 <div class="grid images_3_of_2">
						  <ul id="etalage">
							<li>
                                {% if products.product_image %}
								<a href="optionallink.html">
									<img class="etalage_thumb_image" src="{{ products.product_image.url }}" class="img-responsive" />
									<img class="etalage_source_image" src="{{ products.product_image.url }}" class="img-responsive" title="" />
                                </a>
                                {% endif %}
							</li>
							<!-- <li>
								<img class="etalage_thumb_image" src="{% static 'product/images/r4.jpg' %}" class="img-responsive" />
								<img class="etalage_source_image" src="{% static 'product/images/r4.jpg' %}" class="img-responsive" title="" />
							</li>
							<li>
								<img class="etalage_thumb_image" src="{% static 'product/images/m3.jpg' %}" class="img-responsive"  />
								<img class="etalage_source_image" src="{% static 'product/images/m3.jpg' %}"class="img-responsive"  />
							</li>
						    <li>
								<img class="etalage_thumb_image" src="{% static 'product/images/m4.jpg' %}" class="img-responsive"  />
								<img class="etalage_source_image" src="{% static 'product/images/m4.jpg' %}"class="img-responsive"  />
							</li> -->
						</ul>
						</div>
					 </div>
					 <div class="details-left-info">
							<h3>{{ products.product_name }}</h3>
							<h4></h4>
							<p><label>INR</label>{{ products.unit_price }}<a href="#">Click for offer</a></p>
							<div class="btn_form">
								<a href="#">buy now</a>
								<a href="#">ADD TO CART</a>
							</div>
							<div class="bike-type">
							<p>BRAND  ::<a href="#">{{ products.company_category }}</a></p>
							</div>
							<h5>Description  ::</h5>
							<p class="desc">{{ products.product_desc }}</p>
					 </div>
					 <div class="clearfix"></div>				 	
				  </div>
			  </div>
		  </div>
		  <div class="single-bottom2">
			  <h6>Related Products</h6>
			 <div class="product">
					 <div class="product-desc">
						  <div class="product-img product-img2">
							 <img src="{% static 'product/images/r3.jpg' %}" class="img-responsive " alt=""/>
						 </div>
						 <div class="prod1-desc">
								<h5><a class="product_link" href="#">Road Bike</a></h5>
								<p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra. </p>									
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="product_price">
							<span class="price-access">$300.51</span>								
							<a class="button1" href="#"><span>Add to cart</span></a>
					 </div>
						<div class="clearfix"></div>
			 </div>
			 <div class="product">
					 <div class="product-desc">
						  <div class="product-img product-img2">
							 <img src="https://cdp.azureedge.net/products-private/prod/b6801a31-2d00-4bd6-a25b-049df4dce2c5/cc86cb28-9a06-4ef1-a529-a6880114c08f/00000000-0000-0000-0000-000000000000/b8113cab-476e-4946-a8d3-aac7002b4c77/2793df07-ebc6-484a-b994-ab8101371d29/6000000001.jpg" class="img-responsive " alt=""/>
						 </div>
						 <div class="prod1-desc">
								<h5><a class="product_link" href="#">Mountain Bike</a></h5>
								<p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra. </p>									
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="product_price">
							<span class="price-access">$1500.51</span>								
							<a class="button1" href="#"><span>Add to cart</span></a>
					 </div>
				  <div class="clearfix"></div>
			 </div>
			 <div class="product">
					 <div class="product-desc">
						  <div class="product-img product-img2">
							 <img src="https://images.carandbike.com/bike-images/large/harley-davidson/roadster/harley-davidson-roadster.webp?v=9" class="img-responsive " alt=""/>
						 </div>
						 <div class="prod1-desc">
								<h5><a class="product_link" href="#">Harley-davidson Roadster</a></h5>
								<p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra. </p>									
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="product_price">
							<span class="price-access">₹10.99</span>								
						<a class="button1" href="#"><span>Add to cart</span></a>
					 </div>-->
				 <div class="clearfix"></div>
			  </div>
		 <!-- </div>	
	 </div>
</div>
{% endblock %}

